html{
    font-size: 12px;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    margin: 0;
}
header{
    background-color: rgb(25, 135, 106);
    color: white;
    font-size: 1.5rem;
    margin-top: -25px;
}